<!DOCTYPE html>
<html>
  <head>
    <title>proyectofinal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
    <link rel='javascript' href='/js/materialize.min.js' />
  </head>
  <body>
    <h1>proyectofinal</h1>
    <form action="/login" method="post">
      <input type="text" name="mesa"/><br />
      <input type="password" name="pwd"/><br />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>