<!DOCTYPE html>
<html>
  <head>
    <title>Restaurante JC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
    
    <link href='https://fonts.googleapis.com/css?family=Linden+Hill:400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cuprum:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% if (messages.length > 0) { %>
      <div>
        <input type="hidden" id="myAlert" value="<%= messages() %>">
      </div>
    <% } %>           
    <%- body%>
    <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
       // Activate the side menu 
       $(".button-collapse").sideNav();
      });
    </script>
    <script type="text/javascript" src="/js/alert.js"></script>
  </body>
</html>