<div class="content">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/menu" class="brand-logo">Restaurante JC</a>
        <ul class="right hide-on-med-and-down">
          <li><form action="/logout?_method=delete" method="post">
              <input class="waves-effect waves-light" type="submit" value="Logout" />
              <i class="material-icons right">view_module</i>
            </form></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="cont style-title">
    <h1>MENU DEL DIA</h1>
  </div>
  <div class="cont center">
    <div class="row">
      <div class="col l4">
        <img src="/imgs/p1.jpg">
        <div class="text-left">
          <p>Spaguettis con salsa roja</p>
          <p>Ingredientes: </p>
          <p>Spaguettis</p>
          <p>salsa roja</p>
        </div>
        <div class="text-left input-field col l4 col m4 col s4">
          <input id="cant" type="text" class="validate" name="cant">
          <label for="cant">Cantidad</label>
        </div>
        <form method="post">
          <input class="waves-effect waves-light btn" type="submit" value="Pedir" />
        </form>             
      </div>
      <div class="col l4">
        <img src="/imgs/p1.jpg">
        <div class="text-left">
          <p>Spaguettis con salsa roja</p>
          <p>Ingredientes: </p>
          <p>Spaguettis</p>
          <p>salsa roja</p>
        </div>
        <div class="text-left input-field col l4 col m4 col s4">
          <input id="cant" type="text" class="validate" name="cant">
          <label for="cant">Cantidad</label>
        </div>
        <form method="post">
          <input class="waves-effect waves-light btn" type="submit" value="Pedir" />
        </form>
      </div>
      <div class="col l4">
        <img src="/imgs/p1.jpg">
        <div class="text-left">
          <p>Spaguettis con salsa roja</p>
          <p>Ingredientes: </p>
          <p>Spaguettis</p>
          <p>salsa roja</p>
        </div>
        <div class="text-left input-field col l4 col m4 col s4">
          <input id="cant" type="text" class="validate" name="cant">
          <label for="cant">Cantidad</label>
        </div>
        <form method="post">
          <input class="waves-effect waves-light btn" type="submit" value="Pedir" />
        </form>
      </div>
    </div>    
  </div>
</div>
  

