<div class="row center">
  <div class="style-title">
    <h1>Restaurante JC</h1>
  </div>
  <div class="row">
    <a class="waves-effect waves-light btn" href="/menu/menuRest">Menú Restaurante</a>
  </div> 
  <div class="row">
    <a class="waves-effect waves-light btn" href="/menu/pedidos">Pedidos</a>
  </div>
  <div class="row">
    <form action="/logout?_method=delete" method="post">
      <input class="waves-effect waves-light btn" type="submit" value="Logout" />
    </form>
  </div>  
</div>


