<!DOCTYPE html>
<html>
  <head>
    <title>menu</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>menu</h1>
    
      <input type="" value="Menu Restaurante" />
      <input type="" value="Pedidos" />
    <form action="/logout?_method=delete" method="post">
      <input type="submit" value="logout" />
    </delete>
</html>