<!DOCTYPE html>
<html>
  <head>
    <title>menu</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Menú</h1>
    <a href="#">Menú Restaurante</a>
    <a href="#">Pedidos</a>
    <form action="/logout?_method=delete" method="post">
      <input type="submit" value="logout" />
    </form>
</html>
