<div class="content">
    <nav>
      <div class="nav-wrapper">
        <a href="/menu" class="brand-logo">Restaurante JC</a>
        <ul class="right hide-on-med-and-down">
          <li><form action="/logout?_method=delete" method="post">
              <input class="waves-effect waves-light" type="submit" value="Logout" />
              <i class="material-icons right">view_module</i>
            </form></li>
        </ul>
      </div>
    </nav>  
  <div class="cont style-title">
    <h1>MENÚ DEL DÍA</h1>
  </div>
  <div class="cont center">
    <div class="row">
      <form method="post" action="/menu/pedidos">
        <h3>Entradas</h3>
        <div class="col l4">          
          <img src="/imgs/e1.jpg" class="img-size">
          <div class="text-left">
            <p>Pizzetta delgada y crujiente de 3 quesos con cebolla caramelizada y rúgula</p>
            <p>$24.900</p>
          </div>          
            <div class="text-left input-field col l4 col m4 col s4">
              <input type="hidden" name="descrip1" value="Pizzeta delgada" />
              <input type="hidden" name="val1" value="24900" />
              <input id="cant" type="text" class="validate" name="cant1">
              <label for="cant">Cantidad</label>
            </div>                      
        </div>
        <div class="col l4">          
          <img src="/imgs/e2.jpg" class="img-size">
          <div class="text-left">
            <p>Panzanella de tomates orgánicos, pepino, cebolla, croutones y mozzarella de búfala</p>
            <p>$21.900</p>
          </div>          
            <div class="text-left input-field col l4 col m4 col s4">
              <input type="hidden" name="descrip2" value="Panzanella de tomates orgánicos" />
              <input type="hidden" name="val2" value="21900" />
              <input id="cant" type="text" class="validate" name="cant2">
              <label for="cant">Cantidad</label>
            </div>          
        </div> 
        <div class="col l4">          
          <img src="/imgs/e3.jpg" class="img-size">
          <div class="text-left">
            <p>Ensalada Verde de lechuga, tomate verde, pimenton y aguacate.</p>
            <p>$10.000</p>
          </div>          
            <div class="text-left input-field col l4 col m4 col s4">
              <input type="hidden" name="descrip3" value="Ensalada verde" />
              <input type="hidden" name="val3" value="10000" />
              <input id="cant" type="text" class="validate" name="cant3">
              <label for="cant">Cantidad</label>
            </div>          
        </div>
        <div class="row">
          <h3>Platos Principales</h3>
          <div class="col l4">          
            <img src="/imgs/pp1.jpg" class="img-size">
            <div class="text-left">
              <p>Ravioli de rabo de toro con salsa de queso gruyere</p>
              <p>$29.900</p>
            </div>          
              <div class="text-left input-field col l4 col m4 col s4">
                <input type="hidden" name="descrip4" value="Ravioli con salsa de queso" />
                <input type="hidden" name="val4" value="29900" />
                <input id="cant" type="text" class="validate" name="cant4">
                <label for="cant">Cantidad</label>
              </div>          
          </div>
          <div class="col l4">          
            <img src="/imgs/pp2.jpg" class="img-size">
            <div class="text-left">
              <p>Tagliata: Brangus sirloin steak a la parrilla (200 gr) con ensalada</p>
              <p>$34.900</p>
            </div>          
              <div class="text-left input-field col l4 col m4 col s4">
                <input type="hidden" name="descrip5" value="Tagliata" />
                <input type="hidden" name="val5" value="34900" />
                <input id="cant" type="text" class="validate" name="cant5">
                <label for="cant">Cantidad</label>
              </div>          
          </div>
          <div class="col l4">          
            <img src="/imgs/pp3.jpg" class="img-size">
            <div class="text-left">
              <p>Pasta con salsa napolitana y trocitos de carne</p>
              <p>$25.000</p>
            </div>          
              <div class="text-left input-field col l4 col m4 col s4">
                <input type="hidden" name="descrip6" value="Pasta" />
                <input type="hidden" name="val6" value="25000" />
                <input id="cant" type="text" class="validate" name="cant6">
                <label for="cant">Cantidad</label>
              </div>          
          </div>
        </div>
        <div class="row">
          <h3>Postres</h3>
          <div class="col l4">          
            <img src="/imgs/p1.jpg" class="img-size">
            <div class="text-left">
              <p>Pizza de Nutella con mascarpone</p>
              <p>$10.900</p>
            </div>          
              <div class="text-left input-field col l4 col m4 col s4">
                <input type="hidden" name="descrip7" value="Pizza de Nutella" />
                <input type="hidden" name="val7" value="10900" />
                <input id="cant" type="text" class="validate" name="cant7">
                <label for="cant">Cantidad</label>
              </div>          
          </div>
          <div class="col l4">          
            <img src="/imgs/p2.jpg" class="img-size">
            <div class="text-left">
              <p>Pavlova, crumble de merengue, helado de vainilla y frutos rojos</p>
              <p>$12.900</p>
            </div>          
              <div class="text-left input-field col l4 col m4 col s4">
                <input type="hidden" name="descrip8" value="Pavlova con helado" />
                <input type="hidden" name="val8" value="12900" />
                <input id="cant" type="text" class="validate" name="cant8">
                <label for="cant">Cantidad</label>
              </div>          
          </div>
          <div class="col l4">          
            <img src="/imgs/p3.jpg" class="img-size">
            <div class="text-left">
              <p>Tiramisú rústico con mascarpone, café y deditos caseros</p>
              <p>$10.900</p>
            </div>          
              <div class="text-left input-field col l4 col m4 col s4">
                <input type="hidden" name="descrip9" value="Tiramisú rústico con mascarpone" />
                <input type="hidden" name="val9" value="10900" />
                <input id="cant" type="text" class="validate" name="cant9">
                <label for="cant">Cantidad</label>
              </div>          
          </div>
        </div>
        <div class="row">
          <h3>Bebidas</h3>
          <div class="col l4">          
            <img src="/imgs/b1.jpg" class="img-size-bebidas">
            <div class="text-left">
              <p>Agua</p>
              <p>$2.000</p>
            </div>          
              <div class="text-left input-field col l4 col m4 col s4">
                <input type="hidden" name="descrip10" value="Agua" />
                <input type="hidden" name="val10" value="2000" />
                <input id="cant" type="text" class="validate" name="cant10">
                <label for="cant">Cantidad</label>
              </div>          
          </div> 
          <div class="col l4">          
            <img src="/imgs/b2.jpg" class="img-size-bebidas">
            <div class="text-left">
              <p>Copa de vino tinto o blanco</p>
              <p>$5.000</p>
            </div>          
              <div class="text-left input-field col l4 col m4 col s4">
                <input type="hidden" name="descrip11" value="Copa de Vino" />
                <input type="hidden" name="val11" value="5000" />
                <input id="cant" type="text" class="validate" name="cant11">
                <label for="cant">Cantidad</label>
              </div>          
          </div>
          <div class="col l4">          
            <img src="/imgs/b3.jpg" class="img-size-bebidas">
            <div class="text-left">
              <p>Limonada de coco, mango, natural, cherry.</p>
              <p>$4.500</p>
            </div>          
              <div class="text-left input-field col l4 col m4 col s4">
                <input type="hidden" name="descrip12" value="Limonada" />
                <input type="hidden" name="val12" value="4500" />
                <input id="cant" type="text" class="validate" name="cant12">
                <label for="cant">Cantidad</label>
              </div>          
          </div>   
        </div>

        <div class="row">
          <input class="waves-effect waves-light btn" type="submit" value="Pedir" />
        </div>             
      </form>             
      
      
    </div>
        
  </div>
</div>
  

