<div class="content">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/menu" class="brand-logo">Restaurante JC</a>
        <ul class="right hide-on-med-and-down">
          <li><form action="/logout?_method=delete" method="post">
              <input class="waves-effect waves-light" type="submit" value="Logout" />
              <i class="material-icons right">view_module</i>
            </form></li>
        </ul>
      </div>
    </nav>
  </div>
</div>