html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

.content{
  max-width: 100%;
  margin: 10px auto;
  background-color:  #fff;
}

.cont{
	content: "";
  clear: both;
  display: block;
  width: 90%;
 	margin: 10px auto;
  padding: 10px;
  background-color:  #fff;
}
.style-title {
	font-family: 'Linden Hill', serif;
  text-align: center;  
}

nav {
	background-color: #26a69a;
}

.text-left {
	text-align: left;
}

.img-size {
	height: 200px;
	width: 300px;
}

.img-size-bebidas {
	height: 400px;
	width: 250px;
}